/*change color Panel CSS Style*/
.columnSampleClass {
    background:#3ad1de !important;
}
/*change Panel in Hover*/
.toolbarChangeOnHover:hover{
    color: #1954b3 !important;
}
/*change color Panel on click*/
.changeTypeColor{
    background:#f7dbf6 !important;

}

.panelChangeOnHover:hover{
    background-color: #efefef !important
}

.changeHeartColor{
    color:#9ab8e8 !important;

}