/*change text color CSS Style*/
.changeTextStyle{
 font-family: "Comic Sans MS";
 border: 2px solid #29a4ff;
 padding: 5px;
 background-color: #a6f1ff !important;
 font-style: italic;
}
/*change text color dynamyc Style*/
.changeTypeColor{
 color:red !important;
}
