.sample-red {
  background-color: red;
}
.sample-red label,.sample-red input {
  color : white !important;
}

.sample-green {
  background-color: green;
}
.sample-green label,.sample-green input {
  color : yellow !important;
}

.sample-blue {
  background-color: blue;
}
.sample-blue label,.sample-blue input {
  color : orange !important;
}

.sample-brown {
  background-color: brown;
}
.sample-brown label,.sample-brown input {
  color : blue !important;
}

.sample-orange {
  background-color: orange;
}
.sample-orange label,.sample-orange input {
  color : green !important;
}

.sample-gray {
  background-color: gray;
}
.sample-gray label,.sample-gray input {
  color : white !important;
}


