/*change text color dynamyc Style*/
.changeTypeColor{
  color:green !important;

}
md-checkbox.md-altTheme-theme:not([disabled]).md-checked.green .md-icon {
background-color: green;
}

md-checkbox.md-altTheme-theme:not([disabled]).md-checked.green .md-icon:after {
border-color: #fff;
}

/*change checkbox hover*/
.checkboxChangeOnHover:hover{
  background-color: #a0f7a4 !important;
}

/*CSS Class changes*/
.changeCheckboxStyle{
  font-family: 'Gidugu';
  font-size:15px;
  color:blue;
}
md-checkbox.md-altTheme-theme:not([disabled]).md-checked.blue .md-icon {
background-color: #3ea3f4;
}
md-checkbox.md-altTheme-theme:not([disabled]).md-checked.blue .md-icon:after {
border-color: blue;
}
md-checkbox.md-altTheme-theme:not([disabled]).blue:not(.md-checked) .md-icon {
  border-color: blue;
}



md-checkbox.blue .md-icon {
border-width: 2px;
border-style: dashed;
}
